<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!--Everything in Montserrat except the title, which will be Abril Fatface -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News</title>
  </head>
  <body>

    <div class="container mt-6">
      <h1>The Daily News</h1>
    </div>


    <div class="container mt-5">
        <h2> <%=@location_result_city%> Weather: </h2>
            <h3> It is currently <%=@current_temperature%> degrees and <%=@current_conditions%>.</h3>
        
            <!-- future forecast loop -->
            <div class ="row">
                <% for day in @future_forecast.slice(0,5) %>
                    <div class="col-sm-2">
                        On <%= "#{Time.at(day["time"]).strftime("%A")}" %> there will be a high of <%= day["temperatureHigh"] %> degrees fahrenheit and <%= day["summary"] %>
                    </div>
                <% end %>
            </div>    
    </div>
    
    <div class="container mt-5">
      <h4>Change your location</h4>

    <form action="/news">
        <label>Location:</label>
        <input type="text" name="q">
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    </div>
    
    <div>
    </div>

    <div class="container mt-5">
        <h2>Latest Headlines: </h2>
            <!-- news headlines loop -->
            <div class="row">
                <% for article in @news_array.slice(0,6) %>
                    <div class="col-sm-6">
                        Source: <%= article["source"]["name"] %>
                            <br>
                        Date: <%= article["publishedAt"] %>
                            <br>
                        <!-- Link to image -->
                        <img src="<%= article["urlToImage"] %>" class="img-fluid">
                            <br>
                        Title: <%= article["title"] %>
                            <br>
                        <!-- Link URL -->
                        <%= article["url"] %>
                            <br><br>
                    </div>
                <% end %>
            </div>            
    </div>
    <div>
    </div>


    <!-- Footer, just another grid, with a class added for custom styling -->
    <div class="container footer">
      <div class="row my-5">
        <div class="col-sm-6">
          <h1>The Daily News</h1>
          <ul class="list-unstyled mt-3">
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h6>Established 2020</h6>
          <p class="mt-3"><em>All news gathered from NewsAPI.org. Please visit their website to find out more.</em></p>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>